# Virtual Environment
venv/
.env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Python build / packaging
build/
dist/
*.egg-info/
.eggs/

# Testing
.coverage
htmlcov/
.pytest_cache/

# IDEs
.idea/